version: '3.8'
services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/hackathon-portal
      - JWT_SECRET=supersecretkey123
      - PORT=5000
    depends_on:
      - mongo
    volumes:
      - ./server/uploads:/app/uploads

volumes:
  mongo-data:
